# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
env/
venv/
ENV/
.venv/

# Model and encoder files
*.keras

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*regressionlogs

# Ignore all CSVs in data/output directories
*.csv

# Streamlit temporary files
.streamlit/

# VS Code settings (optional, if you're using VS Code)
.vscode/
